@charset "utf-8";
/* =======전체영역======= */

/* 전체영역-반응형 */
.b_visual {
  padding-top: 40px;
  position: relative;
}
.visual-sw {
  position: relative;
  /* height: 60vw; */
}
/* 배너 이미지 */
/* 배너 박스 + b_visual inner*/
.visual-sw .visual-inner {
  position: relative;
  width: 80%;
  max-width: 1100px;
  background-color: bisque;
  margin: auto;
  z-index: 999999;
}
.visual-sw .swiper-slide img {
  width: 100%;
}
/* box-txt */
.box-txt {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 30px;
  /* text-align: left; */
  width: 40%;
  background-color: #fff;
  padding: 2%;
}
.box-txt > h4 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 2%;
  color: var(--color--dark--x-l);
}
.box-txt > p {
  font-size: 14px;
  line-height: 18px;
}
/* 살펴보기 버튼+슬라이드 버튼img */
.box-txt-wrap {
  width: 20%;
  margin-left: auto;
}
/* 살펴보기 버튼 */
.b_visual-btn {
  display: inline-block;
  margin-top: 5%;
  padding: 10px 20px;
  border: 1px solid #222;
  text-decoration: none;
  color: #222;
}
.b_visual-tablet {
  display: none;
}
.b_visual-mobile {
  display: none;
}
/* ===============반응형===================== */
@media screen and (max-width: 1920px) {
  /* 비주얼 배너이미지 */
}
@media screen and (max-width: 768px) {
  /* 전체영역-반응형 */
  .b_visual {
    display: none;
  }
  .b_visual-tablet {
    padding-top: 40px;
    display: block;
  }
  .b_visual-tablet img{
    height: 600px;
  }
  .b_visual-mobile {
    display: none;
  }
  
  .box-txt {
    position: relative;

    /* text-align: left; */
    width: 100%;
    background-color: #fff;
    padding: 5%;
  }
  .box-txt-wrap {
    width: 15%;
  }
}
@media screen and (max-width: 390px) {
  /* 전체영역-반응형 */
  .b_visual {
    display: none;
  }
  .b_visual-tablet {
    display: none;
  }
  .b_visual-mobile  {
    padding-top: 40px;
    display: block;
  }
  .b_visual-mobile img{
    height: 500px;
  }
  .box-txt-wrap {
    width: 20%;
  }
}
