@charset "utf-8";
.best {
  position: relative;
  width: 100%;
  /* background-color: yellowgreen; */
}
.best .wrap-inner {
  /* background-color: thistle; */
}
.best .wrap-inner h2 {
  margin-top: 10%;
}
.bestSwiper {
  position: relative;
  width: 100%;
  /* height: 29vw; */
  /* background-color: yellowgreen; */
  /* margin-top: 70px; */
}
/* .best-prd-box{
    width: 100%
} */
.best-prd-box .thumbnail {
  background-color: var(--color--product-bg);
}
.best-prd-box .thumbnail a img {
  width: 100%;
}
.number{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 21px;
  text-align: center;
  color: var(  --color--darkgrey--l);
  font-weight: 600;
  background-color: var( --color--lightgray--s);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  /* padding: 10px 15px; */
}
/* .best-prd-box #best-thum-1::before {
  content: "1";
  position: absolute; 
  width: 40px;
  height: 40px;
  color: var(--color--darkgrey--l);
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  aspect-ratio: 1;
  background-color: var(--color--lightgray--s);
} */
.best-prd-box .description {
  position: relative;
  padding: 40px 0 20px;
  background-color: #fff;
}
.best-prd-box .prd-name {
  font-size: 17px;
  font-weight: 600;
  color: var(--color--dark--x-l);
}
.best-prd-box .prd-category {
  font-size: 14px;
  font-weight: 400;
  color: var(--color--grey--m);
  margin-top: 8px;
}
.best-prd-box .price-box {
  margin-top: 20px;
  /* background-color: violet; */
}
.best-prd-box .price {
  font-size: 20px;
  font-weight: 400;
  color: var(--color--dark--x-l);
  margin-bottom: 6px;
}
.best-prd-box .review-score {
  display: flex;
  gap: 4px;
}
.best-prd-box .review-num {
  font-size: 14px;
  font-weight: 400;
  color: var(--color--grey--m);
  /* background-color: yellowgreen; */
}
.best-prd-box .tag {
  width: 40%;
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
}
.best-prd-box .tag li img {
  width: 100%;
}
.best .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 정확히 중앙에 오도록 */
  left: 300px;
  color: var(--color--grey--m);
  z-index: 999;
}
.best .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 정확히 중앙에 오도록 */
  right: 300px;
  color: var(--color--grey--m);
}
.best .swiper-button-next::after,
.best .swiper-button-prev::after {
  font-size: 36px;
}
/* 반응형 */
@media screen and (max-width: 1800px) {
  .best .swiper-button-next::after,
  .best .swiper-button-prev::after {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .best-prd-box .review-num {
    font-size: 13px;
  }
}
@media screen and (max-width: 900px) {
  .best-prd-box .tag {
    width: 45%;
    left: -2px;
  }
  .best-prd-box .prd-name {
    margin-top: 5%;
  }
}
@media screen and (max-width: 768px) {
  .best .wrap-inner h2 {
    margin: 18% 0 7% 0;
  }
  .best-prd-box .prd-name {
    margin-top: 2%;
  }
  
}
@media screen and (max-width: 650px) {
  .best-prd-box .prd-name {
    margin-top: 3%;
  }
  .best-prd-box .prd-name {
    font-size: 17px;
  }
  .best-prd-box .prd-category {
    margin-top: 7px;
  }
  .best-prd-box .price {
    font-size: 19px;
    margin-bottom: 4px;
  }
  .number{
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
  }
}
@media screen and (max-width: 529px) {
  .best-prd-box .tag {
    width: 45%;
    left: -2px;
  }
  .best-prd-box .prd-name {
    margin-top: 4%;
  }

}
@media screen and (max-width: 420px) {
  .best-prd-box .tag {
    width: 50%;
    left: -2px;
  }
  .best-prd-box .prd-name {
    margin-top: 3%;
  }
  .best-prd-box .review-num {
    font-size: 12px;
  }
  .best-prd-box .prd-name {
    font-size: 15px;
  }
  .best-prd-box .prd-category {
    font-size: 14px;
    margin-top: 6px;
  }
  .best-prd-box .price {
    font-size: 18px;
    margin-bottom: 4px;
  }
  svg {
    width: 70px;
  }
  .number {
    font-size: 16px;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}
}
