@charset "utf-8";
.new {
  position: relative;
  width: 100%;
  /* background-color: yellowgreen; */
}
.new .wrap-inner {
  position: relative;
}
.newSwiper {
  position: relative;
  width: 100%;
  /* height: 28vw; */
  /* background-color: yellowgreen; */
  /* margin-top: 70px; */
}

.new-prd-box .thumbnail {
  background-color: var(--color--product-bg);
}
.new-prd-box .thumbnail a img {
  width: 100%;
}
.new-prd-box .description {
  position: relative;
  padding: 40px 0 20px;
  background-color: #fff;
}
.new-prd-box .prd-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color--dark--x-l);
}
.new-prd-box .prd-category {
  font-size: 15px;
  font-weight: 400;
  color: var(--color--grey--m);
  margin-top: 9px;
}
.new-prd-box .price-box {
  margin-top: 20px;
}
.new-prd-box .price {
  font-size: 20px;
  font-weight: 400;
  color: var(--color--dark--x-l);
  margin-bottom: 6px;
}
.new-prd-box .tag {
  width: 40%;
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
}
.tag-olive {
  width: 20%;
  position: absolute;
  top: 20px;
  right: 0;
}
.tag-olive li img {
  width: 100%;
}
.new-prd-box .tag li img {
  width: 100%;
}
.new .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 정확히 중앙에 오도록 */
  left: 300px;
  color: var(--color--grey--m);
}
.new .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 정확히 중앙에 오도록 */
  right: 300px;
  color: var(--color--grey--m);
}
.new .swiper-button-next::after,
.new .swiper-button-prev::after {
  font-size: 36px;
}
/* 반응형 */
@media screen and (max-width: 1800px) {
  .new .swiper-button-next::after,
  .new .swiper-button-prev::after {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .new-prd-box .tag {
    width: 45%;
    left: -2px;
  }
  .new-prd-box .prd-name {
    margin-top: 5%;
  }
  .tag-olive {
    width: 22.5%;
    position: absolute;
    top: 20px;
    left: -2px;
  }
}
@media screen and (max-width: 768px) {
  .new-prd-box .prd-name {
    margin-top: 2%;
  }
  .tag-olive {
    width: 22.5%;
    position: absolute;
    top: 20px;
    left: -2px;
  }
}
@media screen and (max-width: 650px) {
  .new-prd-box .prd-name {
    margin-top: 3%;
  }
  .new-prd-box .prd-name {
    font-size: 17px;
  }
  .new-prd-box .prd-category {
    margin-top: 7px;
  }
  .new-prd-box .price{
    font-size: 19px;
    margin-bottom: 4px;
  }
  .tag-olive {
    width: 22.5%;
  }
}
@media screen and (max-width: 529px) {
  .new-prd-box .tag {
    width: 45%;
    left: -2px;
  }
  .new-prd-box .prd-name {
    margin-top: 4%;
  }
  .tag-olive {
    width: 22.5%;
  }
}
@media screen and (max-width: 420px) {
  .new-prd-box .tag {
    width: 50%;
    left: -2px;
  }
  .tag-olive {
    width: 25%;
  }
  .new-prd-box .prd-name {
    margin-top: 3%;
  }
  .new-prd-box .review-num {
    font-size: 12px;
  }
  .new-prd-box .prd-name {
    font-size: 15px;
  }
  .new-prd-box .prd-category {
    font-size: 14px;
    margin-top: 6px;
  }
  .new-prd-box .price{
    font-size: 18px;
    margin-bottom: 4px;
  }
}
