@charset "utf-8";
.new {
  position: relative;
  width: 100%;
  /* background-color: yellowgreen; */
}
.new .wrap-inner {
  position: relative;
}
.newSwiper {
  position: relative;
  width: 100%;
  /* height: 28vw; */
  /* background-color: yellowgreen; */
  /* margin-top: 70px; */
}

.new-prd-box .thumbnail {
  background-color: var(--color--product-bg);
}
.new-prd-box .thumbnail a img {
  width: 100%;
}
.new-prd-box .description {
  position: relative;
  padding: 40px 0 20px;
  background-color: #fff;
}
.new-prd-box .prd-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color--dark--x-l);
}
.new-prd-box .prd-category {
  font-size: 14px;
  font-weight: 400;
  color: var(--color--grey--m);
  margin-top: 8px;
}
.new-prd-box .price-box {
  margin-top: 20px;
}
.new-prd-box .price {
  font-size: 20px;
  font-weight: 400;
  color: var(--color--dark--x-l);
  margin-bottom: 6px;
}
.new-prd-box .tag {
  width: 40%;
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
}
.tag-olive {
  width: 20%;
  position: absolute;
  top: 20px;
  right: 0;
}
.tag-olive li img {
  width: 100%;
}
.new-prd-box .tag li img {
  width: 100%;
}
.new .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 정확히 중앙에 오도록 */
  left: 300px;
  color: var(--color--grey--m);
}
.new .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 정확히 중앙에 오도록 */
  right: 300px;
  color: var(--color--grey--m);
}
.new .swiper-button-next::after,
.new .swiper-button-prev::after {
  font-size: 36px;
}
/* 반응형 */
@media screen and (max-width: 1800px) {
  .new .swiper-button-next::after,
  .new .swiper-button-prev::after {
    display: none;
  }
}
