@charset "utf-8";
@import url(font.css);
@import url(i-footer.css);
@import url(a_header.css);

body {
  font-family: "Pretendard";
}

/* txt 영역 */
.detail h2 {
  font-size: 20px;
  color: var(--color--dark--x-l);
}
/* [리미티드]러브버거 */
.dp-name {
  font-size: 25px;
  font-weight: 650;
  color: var(--color--dark--x-l);
  margin: 5% 0 5% 0;
}
/* 상품가격 */
.dp-price {
  font-size: 20px;
  color: var(--color--dark--x-l);
  font-weight: 650;
  margin-bottom: 8%;
}
/* 기프트 */
.dp-category {
  font-size: 17px;
  color: var(--color--grey--m);
  margin: 2% 0 8% 0;
}
/* inner */
.detail .wrap-inner {
  /* background-color: pink; */
  width: 50%;
  max-width: 1000px;
  margin: auto;
}
/* 러브버거 상단 */
.detail-product {
  /* background-color: aqua; */
  display: flex;
}
/* 러브버거 썸네일 이미지 */
.detail-product .dp-img {
  width: 50%;
}
.dp-img img {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* new, limited 아이콘 */
.dp-tag-box ul {
  display: flex;
}
.dp-tag-box li {
  width: 55px;
}
.dp-tag-box li img {
  width: 100%;
  display: block;
}
/* 러브버거 전체 txt박스 */
.dp-txt {
  width: 50%;
  margin-left: 3%;
  /* background-color: antiquewhite; */
}
/* 별점,리뷰보기 */
.dp-price-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}
.review-num {
  font-size: var(--font--fonsize--x-x-s);
  color: var(--color--grey--m);
  text-decoration: underline;
}
/* 수량 */
.dp-cart p {
  font-size: 17px;
  color: var(--color--dark--x-l);
  margin: 2% 0 3% 0;
}
/* 수량버튼 */
.dp-cart2 {
  display: flex;
  width: 50px;
}
.dp-cart2 button {
  font-family: "Pretendard";
  color: var(--color--darkgrey--l);
  display: inline-block;
  text-align: center;
  background-color: #fff;
  padding-block: 3px;
  padding-inline: 8px;
  border-width: 0px;
  border-color: #fff;
  cursor: pointer;
  border: 1px solid #e2e1e1;
}
.dp-cart2 span {
  font-family: "Pretendard";
  color: var(--color--darkgrey--l);
  display: inline-block;
  text-align: center;
  background-color: #fff;
  padding-block: 3px;
  padding-inline: 8px;
  border-width: 0px;
  border-color: #fff;
  cursor: pointer;
  border: 1px solid #e2e1e1;
  border-left: none; /* 왼쪽 테두리 없애기 */
  border-right: none; /* 오른쪽 테두리 없애기 */
}
/* 구매하기 버튼 */
.dp-buybtn {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dp-buybtn .buy1 {
  border: 1px solid var(--color--lightgray--s);
  background-color: #fff;
  border-radius: 1px;
  padding: 4% 0 4% 0;
}
.dp-buybtn .buy2 {
  border: 1px solid var(--color--lightgray--s);
  background-color: var(--color--dark--x-l);
  border-radius: 1px;
  padding: 4% 0 4% 0;
}
.buy1 a {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 17px;
}
.buy2 a {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 17px;
  color: #fff;
}
/* 상세페이지 중간영역 */
.mid-detail .wrap-inner {
  /* background-color: pink; */
  width: 50%;
  max-width: 1000px;
  margin: auto;
  /* background-color: pink; */
  /* text-align: center; */
}
.mid-detail ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: auto;
  /* background-color: red; */
  width: 30%;
  padding: 10% 0 10% 0;
}
.mid-detail li a {
  font-size: 20px;
  font-weight: 600;
}
/* 상세페이지 이미지 넣기 */
.mid-detail-sub,
.mid-detail-reivew {
  display: none;
}

.mid-detail-sub.active,
.mid-detail-reivew.active {
  display: block;
}
#subbtn,
#rvbtn {
  position: relative;
  padding-bottom: 5px; /* 버튼과 라인 간격 조정 */
}
#subbtn.active::after,
#rvbtn.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px; /* 라인 두께 */
  background-color: #000; /* 라인 색상 */
  position: absolute;
  bottom: -2px; /* 버튼 아래 여백 */
  left: 0;
}
.mid-detail-sub .wrap-inner {
  /* display: none; */
  /* background-color: pink; */
  width: 50%;
  max-width: 1000px;
  margin: auto;
}
.mds-img {
  margin: auto;
  width: 720px;
}
.mds-img img {
  width: 100%;
  display: block;
}
/* 향기나는 리뷰 */
.mid-detail-reivew .wrap-inner {
  width: 50%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: pink; */
}
.mdr-star {
  text-align: center;
  /* margin-bottom: 10%; */
}
.mdr-line {
  display: flex;
  justify-content: center;
}
/* 리뷰 상세내용 */
.mdr-review {
  margin-top: 5%;
  width: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: space-around;
}
.mdr-rv {
  /* background-color: red  ; */
  width: 50%;
}
.mdr-rv1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 70%;
}
.mdr-rv1 li {
  font-size: 13px;
  color: var(--color--grey--m);
  margin-bottom: 15%;
}
.mdr-rv2 {
  font-size: 15px;
  color: var(--color--grey--m);
}
.mdr-img {
  border-radius: 10px;
  overflow: hidden; /* 이미지가 부모 영역을 벗어나지 않도록 처리 */
  width: 150px;
}

.mdr-img img {
  display: block;
  width: 100%;
  border-radius: 10px; /* 이미지 자체에도 border-radius 설정 */
}
.mdr-all-review {
  margin-bottom: 20%;
}
