@charset "utf-8";
.pick {
  position: relative;
  width: 100%;
}
.pick .wrap-inner {
  /* background-color: violet; */
}

.pickBtn {
  font-family: "Pretendard";
  border: 2px solid #333;
  border-radius: 60px;
  padding: 8px 15px;
  font-size: 17px;
  font-weight: 400;
  color: var(--color--dark--x-l);
  background-color: var(--color--white--x-s);
  cursor: pointer;
}
.pickBtn.active {
  background-color: var(--color--dark--x-l);
  color: var(--color--white--x-s);
}
#freshBtn {
  margin-right: 4px;
}
.pick-box {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-top: 12px;
  display: none;
  /* background-color: yellow; */
}
.pick-banner {
  width: 50%;
  position: relative;
}
.pick-img img {
  width: 100%;
}
.pick-txt {
  position: absolute;
  top: 10%;
  left: 6%;
  color: var(--color--white--x-s);
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}
.pick-products {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prd-box1,
.prd-box2,
.prd-box3 {
  display: flex;
  align-items: center;
  /* background-color: rgb(79, 190, 89); */
}
.pick-prd-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px; /* 여백설정 */
}
.prd-box1-left,
.prd-box2-left,
.prd-box3-left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.pick .thumbnail {
  width: 35%;
}
.thumbnail a img {
  width: 100%;
  background-color: var(--color--product-bg);
}
.description {
  height: 100%;
  /* background-color: rgb(245, 194, 136); */
}
.pick .prd-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color--dark--x-l);
}
.pick .prd-category {
  font-size: 14px;
  font-weight: 500;
  color: var(--color--grey--m);
  margin-top: 10px;
}
.pick .price {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.pick-prd-icon {
  width: 70%;
  min-width: 85px;
  display: flex;
  gap: 26px;
}
/* heart-icon에 hover했을 때 이미지 변경 */
.heart-icon:hover{
  content: url("../images/jisu/pick/blackHeart_icon.png");
}
.pick-prd-icon img {
  width: 100%;
}
.curation {
  font-family: "Pretendard";
  width: 100%;
  font-size: 20px;
  padding: 19px 0;
  border: 2px solid #333;
  font-weight: 550;
  color: var(--color--dark--x-l);
  cursor: pointer;
  background-color: var(--color--white--x-s);
}
/* 반응형 */
@media screen and (max-width: 1200px) {
  .pick-txt {
    font-size: 32px;
    line-height: 45px;
  }
}
@media screen and (max-width: 1100px) {
  .pick-box {
    gap: 40px;
  }
  .pick-txt {
    font-size: 2.7vw;
    line-height: 3.6vw;
  }
  .pick-prd-icon {
    min-width: 70px;
    gap: 20px;
  }
  .pick-prd-top {
    gap: 15px;
  }
  .curation {
    font-size: 18px;
    padding: 16px 0;
    border: 1.5px solid #333;
  }
}
@media screen and (max-width: 900px) {
  .pickBtn {
    padding: 7px 13px;
    font-size: 15px;
  }
  .pick .price {
    font-size: 19px;
    margin-top: 17px;
  }
}
@media screen and (max-width: 860px) {
  .pick-box {
    flex-direction: column;
    gap: 45px;
  }
  .pick-txt {
    font-size: 5.6vw;
    line-height: 7.8vw;
  }
  .pick-banner {
    width: 100%;
  }
  .pick .prd-name {
    font-size: 20px;
  }
  .pick .prd-category {
    font-size: 15px;
  }
  .pick .price {
    font-size: 22px;
    margin-top: 30px;
  }
  .pick-products {
    width: 100%;
  }
  .pick-prd-icon {
    width: 60%;
    gap: 30px;
  }
  .curation {
    font-size: 20px;
    padding: 25px 0;
    margin-top: 40px;
    border: 1.5px solid #333;
  }
}
@media screen and (max-width: 768px) {
  .pick-prd-icon {
    gap: 25px;
  }
}
@media screen and (max-width: 650px) {
  .pick .prd-name {
    font-size: 19px;
  }
  .pick .price {
    font-size: 20px;
    margin-top: 20px;
  }
  .curation {
    font-size: 20px;
    padding: 20px 0;
    margin-top: 40px;
    border: 1px solid #333;
  }
  .prd-box1-left,
  .prd-box2-left,
  .prd-box3-left {
    gap: 22px;
  }
  .pick-prd-icon {
    width: 65%;
    gap: 23px;
  }
}
@media screen and (max-width: 530px) {
  .pick .prd-name {
    font-size: 17px;
  }
  .pick .price {
    font-size: 18px;
    margin-top: 16px;
  }
  .pick-prd-icon {
    width: 70%;
    gap: 20px;
  }
  .curation {
    font-size: 18px;
    padding: 20px 0;
    margin-top: 36px;
  }
}
@media screen and (max-width: 450px) {
  .pick .prd-name {
    font-size: 16px;
  }
  .pick .price {
    font-size: 18px;
    margin-top: 13px;
  }
  .pick-prd-icon {
    width: 60%;
    gap: 16px;
  }
  .pick .prd-category {
    font-size: 14px;
    margin-top: 6px;
  }
  .prd-box1-left,
  .prd-box2-left,
  .prd-box3-left {
    gap: 20px;
  }
  .curation {
    font-size: 16px;
    padding: 18px 0;
    margin-top: 30px;
  }
}
@media screen and (max-width: 390px) {
  .prd-box1-left,
  .prd-box2-left,
  .prd-box3-left {
    gap: 16px;
  }
  .pick .prd-name {
    font-size: 15px;
  }
  .pick-prd-icon {
    width: 20%;
    gap: 20px;
  }
  .curation {
    font-size: 14px;
    padding: 16px 0;
    margin-top: 26px;
  }
}
