@charset "utf-8";
.pick {
  position: relative;
  width: 100%;
}
.pick .wrap-inner {
  /* background-color: violet; */
}

.pickBtn {
  border: 2px solid #333;
  border-radius: 60px;
  padding: 8px 15px;
  font-family: "Pretendard-Regular";
  font-size: 17px;
  font-weight: 500;
  color: var(--color--dark--x-l);
  background-color: var(--color--white--x-s);
  cursor: pointer;
}
.pickBtn.active {
  background-color: var(--color--dark--x-l);
  color: var(--color--white--x-s);
}
#freshBtn {
  margin-right: 4px;
}
.pick-box {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-top: 20px;
  display: none;
  /* background-color: yellow; */
}
.pick-banner {
  width: 50%;
  position: relative;
}
.pick-img img {
  width: 100%;
}
.pick-txt {
  position: absolute;
  top: 10%;
  left: 6%;
  color: var(--color--white--x-s);
  font-size: var(--font--fontsize--l);
  font-weight: 900;
  line-height: 40px;
}
.pick-products {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prd-box1,
.prd-box2,
.prd-box3 {
  display: flex;
  align-items: center;
  /* background-color: rgb(79, 190, 89); */
}
.pick-prd-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 670px; /* 컨테이너의 최대 높이를 설정  */
  overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤 추가 */
  padding: 10px; /* 여백설정 */
}
.prd-box1-left,
.prd-box2-left,
.prd-box3-left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.pick .thumbnail {
  width: 35%;
}
.thumbnail a img {
  width: 100%;
  background-color: var(--color--product-bg);
}
.description {
  height: 100%;
  /* background-color: rgb(245, 194, 136); */
}
.pick .prd-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color--dark--x-l);
}
.pick .prd-category {
  font-size: 14px;
  font-weight: 500;
  color: var(--color--grey--m);
  margin-top: 10px;
}
.pick .price {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.pick-prd-icon {
  width: 68%;
  display: flex;
  gap: 20px;
  /* background-color: pink; */
}
.pick-prd-icon img {
  width: 100%;
}
.curation {
  width: 100%;
  font-family: "Pretendard-Regular";
  font-size: 20px;
  padding: 19px 0;
  border: 2px solid #333;
  font-weight: 550;
  color: var(--color--dark--x-l);
  cursor: pointer;
  background-color: var(--color--white--x-s);
}
/* 반응형 */
@media screen and (max-width: 768px){
  .pick-box{
    flex-direction: column;
   
  }
  .pick-banner {
    width: 100%;
}
.pick-products {
  width: 100%;
}}
