@charset "utf-8";

/* ----- event txt----- */
/* 스와이퍼 txt */
.event-title {
  font-size: 18px;
  color: var(--color--dark--x-l);
  font-weight: bold;
  margin: 10% 0 4% 0;
  /* letter-spacing: -2px; */
  /* width: 100%; */
  text-align: left;
}
.event-txt {
  font-size: 15px;
  font-weight: 500;
  color: var(--color--grey--m);
  /* letter-spacing: -2px; */
  /* width: 100%; */
  text-align: left;
}
/* 전체영역 */
.g_event {
  width: 100%;
}
.g_event .wrap-inner {
  /* width: 100%; */
}
/* swiper-js */
.eventSwiper {
  width: 100%;
}
.eventSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.eventSwiper .swiper-slide a {
  width: 100%;
}
.eventSwiper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* 스와이퍼 버튼 위치 조정 */
.g_event .wrap-inner {
  position: relative;
}
.eventSwiper {
  position: relative;
}
.g_event .wrap-inner .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-paginaton-custom,
.swiper-pagination-fraction {
  top: var(--swiper-pagination-top, 8%) !important;
  bottom: var(--swiper-pagination-bottom, auto) !important;
  left: 90% !important;
  width: 7% !important;
  min-width: 120px;
}
.g_event .wrap-inner .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  line-height: 20px !important;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.g_event .wrap-inner .swiper-pagination-bullet-active {
  width: 20px !important;
  height: 20px !important;
  color: #fff;
  background: var(--color--dark--x-l) !important;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .g_event .wrap-inner .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-paginaton-custom,
  .swiper-pagination-fraction {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .g_event .wrap-inner .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-paginaton-custom,
  .swiper-pagination-fraction {
   display: none;
  }
}
