@charset "utf-8";
.login-container {
  padding: 130px 0px 200px;
}
.login-box {
  width: 420px;
  height: 500px;
  margin: auto;
  text-align: center;
  /* background-color: yellowgreen; */
}
.login-box-top {
  position: relative;
  width: 100px;
  /* background-color: violet; */
}
.login-box-top img {
  width: 100%;
}
.login-box-top h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--color--dark--x-l);
  text-align: left;
}
.login_form {
  margin-top: 80px;
  /* background-color: thistle; */
}
#login-input {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  width: 420px;
  border: none; /* 전체 테두리 제거 */
  border-bottom: 1px solid #757575; /* 아래쪽에만 테두리 추가 */
  padding: 18px 10px;
  margin-bottom: 1px;
}
.id-save {
  display: flex;
  margin-top: 16px;
  margin-left: 10px;
}
#idSave {
  width: 16px;
  margin-right: 5px;
}
.login-btn {
  width: 100%;
  height: 60px;
  border: none;
  background-color: #222222;
  border-radius: 3px;
  color: #ffffff;
  margin-top: 18px;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.login_intro {
  margin: 30px 0;
}
.login_sch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_sch li {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.login_sch li a {
  line-height: 1;
}
.login_sch li:nth-child(2)::before,
.login_sch li:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #333;
  vertical-align: center;
  margin: 0 14px;
}
.login_sch li:last-child {
  border-right: none;
}
.login-orline {
  max-width: 600px;
  border-top: 1px solid #ccc;
  position: relative;
  margin: 58px auto 58px;
}
.login-orline span {
  display: block;
  font-size: 14px;
  color: #aaa;
  width: 54px;
  position: absolute;
  top: -9px;
  left: calc(50% - 27px);
  background: #fff;
  color: #aaa;
}
.kakao-login-btn {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  background-color: #fee500;
  border-radius: 3px;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 15px;
  cursor: pointer;
}
.kakao-login-wrap {
  display: flex;
  align-items: center;
}
.kakao-login-wrap a {
  color: #381e1f;
  margin-left: 6px;
}
.naver-login-btn {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  background-color: #03c75a;
  border-radius: 3px;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600;
  line-height: 60px;
  cursor: pointer;
}
.naver-login-wrap{
  display: flex;
  align-items: center;
}
.naver-login-btn a {
  color: #ffffff;
}