@charset "utf-8";
/* ==========upbtn================== */
.upbtn-group {
  width: 80px;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: aquamarine; */
}
.lushtimes {
  width: 80px;
}
.lushtimes img {
  width: 100%;
}
.topbt {
  width: 50px;
}
.topbt img {
  width: 100%;
}
/* ========팝업창========= */
/* 모달 background */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
/* 모달창 */
.modal-content {
  /* background: white; */
  padding: 20px;
  text-align: center;
  position: relative;
}
.modal-content img{
  display: block; /* 이미지의 하단 여백 제거 */
  margin: 0;
}

/* 모달-리뷰창(로그인창)이동버튼 */
.reviewbt {
  all: unset; /* 기본 스타일 초기화 */
  width: 100%;
  display: block;
  background-color: var(--color--dark--x-l);
  height: 40px;
  padding: 10px 0;
}
.reviewbt a {
  background-color: var(--color--dark--x-l);
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
/* 모달-닫기버튼 */
.close-modal {
  position: absolute;
  top: 48px;
  right: 48px;
  cursor: pointer;
  margin-top: 0;
}

/* ===========반응형페이지========== */
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 563px) {
  /* 모달 X아이콘 */
  .close-modal {
    width: 30px;
  }
  .close-modal > img {
    width: 100%;
  }
  /* 모달이미지 */
  .modal-content {
    width: 480px;
  }
  .modal-content > img {
    width: 100%;
  }
  /* 모달-닫기버튼 */
  .close-modal {
    position: absolute;
    top: 47px;
    right: 47px;
  }
}

@media screen and (max-width: 390px) {
  /* ==========upbtn================== */
  .upbtn-group {
    width: 60px;
    right: 5px;
    bottom: 60px;
    gap: 13px;
  }
  .lushtimes {
    width: 60px;
  }
  .lushtimes img {
    width: 100%;
  }
  .topbt {
    width: 45px;
  }
  .topbt img {
    width: 100%;
  }

  /* 모달 X아이콘 */
  .close-modal {
    width: 20px;
  }
  .close-modal > img {
    width: 100%;
  }
  /* 모달이미지 */
  .modal-content {
    width: 300px;
  }
  .modal-content > img {
    width: 100%;
  }
  /* 모달-닫기버튼 */
  .close-modal {
    position: absolute;
    top: 40px;
    right: 35px;
  }
  /* 모달창-리뷰작성 버튼 */
  .reviewbt {
    height: 25px;
    padding: 10px 0;
  }
  .reviewbt a {
    font-size: 14px;
    line-height: 15px;
  }
}
