@charset "utf-8";
/* ==========upbtn================== */
.upbtn-group {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.upbtn-group > img {
  width: 100%;
}
/* ========팝업창========= */
/* 모달 background */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.modal-content {
  /* background: white; */
  padding: 20px;
  text-align: center;
  position: relative;
}
.close-modal {
  position: absolute;
  top: 38px;
  right: 35px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ===========반응형페이지========== */
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 563px) {
  /* 모달 X아이콘 */
  .close-modal {
    width: 30px;
  }
  .close-modal > img {
    width: 100%;
  }
  /* 모달이미지 */
  .modal-content {
    width: 480px;
  }
  .modal-content > img {
    width: 100%;
  }
  .close-modal {
    position: absolute;
    top: 30px;
    right: 35px;
  }
}

@media screen and (max-width: 390px) {
  /* 모달 X아이콘 */
  .close-modal {
    width: 20px;
  }
  .close-modal > img {
    width: 100%;
  }
  /* 모달이미지 */
  .modal-content {
    width: 340px;
  }
  .modal-content > img {
    width: 100%;
  }
  .close-modal {
    position: absolute;
    top: 30px;
    right: 35px;
  }
}
